// Add any font imports or definitions here
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');

// SansSerif
@font-face {
  font-family: 'Plex';
  src: url('#{$static-path}/fonts/IBMPlexSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/IBMPlexSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/IBMPlexSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/IBMPlexSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


/// NotoKufiArabic

/* Black */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('#{$static-path}/fonts/NotoKufiArabic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('#{$static-path}/fonts/NotoKufiArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('#{$static-path}/fonts/NotoKufiArabic-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* ExtraLight */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('#{$static-path}/fonts/NotoKufiArabic-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('#{$static-path}/fonts/NotoKufiArabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('#{$static-path}/fonts/NotoKufiArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('#{$static-path}/fonts/NotoKufiArabic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Thin */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('#{$static-path}/fonts/NotoKufiArabic-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/// NotoSansArabic

/* Black */
@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('#{$static-path}/fonts/NotoSansArabic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('#{$static-path}/fonts/NotoSansArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('#{$static-path}/fonts/NotoSansArabic-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* ExtraLight */
@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('#{$static-path}/fonts/NotoSansArabic-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('#{$static-path}/fonts/NotoSansArabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('#{$static-path}/fonts/NotoSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('#{$static-path}/fonts/NotoSansArabic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Thin */
@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('#{$static-path}/fonts/NotoSansArabic-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


