// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
.site-header-desktop , .learning-header{
    background: #06263D !important;
  }

header a.logo {
  height: 84px !important;
}

.btn-outline-primary {
    border-color: #fff !important;
    color: #fff !important;
}

.btn-outline-primary:hover {
    border-color: #06263d !important;
    color: #06263d !important;
}

.nav-link {
    color: #fff !important;
}

.site-header-desktop .logo img {
    padding-right: 80px !important;
}

.btn-brand {
    background-color: #ED5846;
    border-color: #ED5846;
    color: #fff;
    font-family: "Noto Kufi Arabic" !important;
    border-radius: 46px;
    width: 200px;
    height: 65px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.btn-brand:hover {
    background-color: #ED5846;
    border-color: #ED5846;
    color: #fff;
     font-family: "Noto Kufi Arabic" !important;
}

.text-gray-700 {
    color: #fff !important;
}

.nav-item.flex-shrink-0.nav-link {
    color: #06263D !important;
}

span.d-block.small.m-0 {
    display: none !important;
}

span.d-block.m-0.font-weight-bold.course-title {
    display: none !important;
}

// Learning MFE


.sequence-navigation-tabs {
    display: none !important;
}
.unit-navigation .next-button, .unit-navigation .previous-button, #courseware-sequenceNavigation .previous-btn,
#courseware-sequenceNavigation .next-btn {
    border-radius: 3.371px;
    border: 2.023px solid var(--Blue-Dark, #06263D) !important;
    background: var(--Acinet-Green-Faded, #E7EFD5);
    color: var(--Blue-Dark, #06263D) !important;
    text-align: center;
    font-family: "Noto Kufi Arabic";
    font-size: 13.484px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn:disabled {
    opacity: unset !important;
}

.sequence-container .sequence.w-100 {
    border: none !important;
}

.course-tabs-navigation {
    border-bottom: none !important;
}

.nav-underline-tabs .nav-link.active {
    border-bottom-color: #FD9D24 !important;
}
.nav-item.flex-shrink-0.nav-link {
    font-family: "Noto Kufi Arabic";
    font-size: 13.484px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.d-flex.flex-column.flex-grow-1 {
    background: #F3F3F3 !important;
}

.sequence-container.d-inline-flex.flex-row {
    background: #FFF !important;
}

.position-relative.d-flex.align-items-start {
    background: #FFF !important;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px !important;
    }
}

nav[aria-label="breadcrumb"] {
    color: var(--Blue-Dark, #06263D);
    text-align: right;
    font-family: "Noto Kufi Arabic" !important;
    font-size: 12.135px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.unit h1 {
    color: var(--Blue-Dark, #06263D);
    text-align: right;
    font-family: "Lateef" !important;
    font-size: 33.709px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: right !important;
    width: max-content !important;
    background-color: #E7EFD5 !important;
}

[dir=rtl] .unit h1 {
    text-align: right !important;
}


 .svg-inline--fa.fa-bookmark path {
    fill: #D73E2D !important;
  }

.pgn__stateful-btn {
    color: #D73E2D !important;
    font-family: 'Noto Kufi Arabic' !important;
}

.container-xl {
    padding: 20px !important;
}

.xmodule_display.xmodule_HtmlBlock p {
    color: #06263D !important;
    font-family: 'Noto Kufi Arabic' !important;
}

/* Add arrows before the content of each list item except the first one */
.list-unstyled li:not(:first-child)::before {
    content: '\2192' !important;
    margin: 0 5px;
}




