// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
.site-header-desktop , .learning-header, .site-header-mobile {
    background: #FFF !important;
    border: none;
    overflow: visible;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

.global-header.slim {
    background-color: #FFF !important;
    border: none;
    overflow: visible;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header.site-header-mobile {
    padding-top: 8px;
    padding-right: 12px;
    padding-left: 12px;
}

@media (max-width: 768px) {
.site-header-mobile .nav-link {
  color: #06263D !important;
}
}

.site-header-mobile {
	height: unset !important;
}

.site-header-mobile img {
	height: 84px !important;
}
.site-header-mobile .justify-content-end {
  order: 3;
  width: 40px !important;
}

.site-header-mobile .justify-content-start {
  order: 2;
  justify-content: end !important;
}

.site-header-mobile .justify-content-center {
  order: 1;
  justify-content: unset !important;
  padding-right: 10px;
  padding-bottom: 8px;
}

.menu-content {
    font-family: "Noto Kufi Arabic" !important;
    font-size: 16px;
}

.profile-page {
    font-family: "Noto Kufi Arabic" !important;
}

#root {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

main {
   flex-grow: 1;
}

.site-header-desktop .main-nav .nav-link:hover{
    border-bottom: 2px solid #06263d;
    background: #FFF !important;
}

.site-header-desktop .logo {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.site-header-desktop .main-nav .nav-link {
    font-family: "Noto Kufi Arabic" !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
    padding: 0 !important;
    margin-left: 80px;
}

header a.logo {
  height: 84px !important;
}

.btn.btn-outline-primary.dropdown-toggle {
    border-color: #06263d;
    color: #06263d;
}

.menu-trigger {
    border-color: #06263D !important;
    color: #06263D !important;
}

.btn-outline-primary:hover {
    border-color: #06263d !important;
    color: #06263d !important;
}

.btn-outline-primary.focus:before, .btn-outline-primary:focus:before {
    border: 0 !important;
}

.nav-link {
    color: #06263D !important;
}

.btn-brand {
    background-color: #D73E2D;
    border-color: #D73E2D;
    color: #fff;
    font-family: "Noto Kufi Arabic" !important;
    border-radius: 46px;
    height: 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.btn-brand:hover {
    background-color: #D73E2D;
    border-color: #D73E2D;
    color: #fff;
    font-family: "Noto Kufi Arabic" !important;
}

.text-gray-700 {
    color: #fff !important;
}

.nav-item.flex-shrink-0.nav-link {
    color: #06263D !important;
}

span.d-block.small.m-0 {
    display: none !important;
}

span.d-block.m-0.font-weight-bold.course-title {
    display: none !important;
}

// Learning MFE

.fade.alert-content.alert.alert-light.show {
    padding-bottom: 200px !important;
}

.horizontal-nav + div {
   display: none !important;
}

.pgn__menu-select-trigger-btn {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

nav[aria-label=breadcrumb] {
	font-size: 14px !important;
}

.pgn__menu-item:hover {
    background: none !important;
    border-color: inherit !important;
    color: inherit !important;
}

.pgn__menu-item:not(:disabled):not(.disabled):active {
    background: none !important;
    border-color: inherit !important;
    color: inherit !important;
}

// remove padding for small screens
@media (max-width: 600px) {
  .course-wrapper main {
    padding: 0 !important;
  }

.unit-container {
    padding: 0 10px 2rem !important;
}

}

// fix the empty space after footer in dates tab
ul.list-unstyled.m-0.mt-4.pt-2 {
    padding-bottom: 175px;
}

.btn .btn-icon-after {
   margin-inline-start: 0 !important;
}

.btn .btn-icon-before {
    margin-inline-end: 0 !important;
}

@media (max-width: 645px) {
    .unit h1:before {
        display: none;
    }
}

@media (max-width: 575px) and (min-width: 515px) {
    button.notification-button {
        display: none !important;
    }
}

.sequence-container.flex-row {
    width: 100% !important;
}

course-wrapper main {
	padding: 0 !important;
}



#main-content {
  background: #F3F3F3;
}
#main-content:has(.course-outline-tab) {
  background-color: #fff !important;
}

.main-content {
background-color: #fff !important;
}

.collapsible-card-lg {
  border: none !important;
}

.collapsible-trigger {
    border-bottom: 1px solid #E7EFD5 !important;
    border-radius: unset !important;
}

/*
.sequence-navigation-tabs {
    display: none !important;
}
*/
.unit-navigation .next-button, .unit-navigation .previous-button, #courseware-sequenceNavigation .previous-btn,
#courseware-sequenceNavigation .next-btn {
    border-radius: 3.371px;
    border: 2.023px solid var(--Blue-Dark, #06263D) !important;
    background: var(--Acinet-Green-Faded, #E7EFD5);
    color: var(--Blue-Dark, #06263D) !important;
    text-align: center;
    font-family: "Noto Kufi Arabic";
    font-size: 13.484px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn:disabled {
    opacity: unset !important;
}

.sequence-container .sequence.w-100 {
    border: none !important;
}

.course-tabs-navigation {
    border-bottom: none !important;
    background: #F3F3F3;
}

.nav-underline-tabs .nav-link.active {
    border-bottom-color: #FD9D24 !important;
}
.nav-item.flex-shrink-0.nav-link {
    font-family: "Noto Kufi Arabic";
    font-size: 13.484px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sequence-container.d-inline-flex.flex-row {
    background: #FFF !important;
}

.position-relative.d-flex.align-items-start {
    background: #FFF !important;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px !important;
    }
}

nav[aria-label="breadcrumb"] {
    color: var(--Blue-Dark, #06263D);
    text-align: right;
    font-family: "Noto Kufi Arabic" !important;
    font-size: 12.135px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

 .svg-inline--fa.fa-bookmark path {
    fill: #D73E2D !important;
  }

.pgn__stateful-btn {
    font-family: 'Noto Kufi Arabic' !important;
}

.sequence-container .sequence.w-100 {
    padding: 10px;
}

.position-relative.d-flex.align-items-start {
    padding: 10px;
}

.text-primary {
    font-size: 14px;
    color: #06263D !important;
}

.xmodule_display.xmodule_HtmlBlock p {
    color: #06263D !important;
    font-family: 'Noto Kufi Arabic' !important;
}

[dir=rtl] .collapsible-body {
    padding-right: 20px !important;
}

.page__account-settings {
  max-width: 1440px !important;
}

.page__account-settings h1 {
    font-family: 'Lateef' !important;
    font-size: 58px;
    font-weight: 400;
    color: #06263D !important;
}


.page__account-settings h2,
.page__account-settings h6,
.page__account-settings p,
.page__account-settings a,
.page__account-settings li,
.page__account-settings button {
  font-family: 'Noto Kufi Arabic'!important;
}

.small.text-muted.mt-n2 {
     font-size: 12px !important;
}

.page__account-settings .btn-link {
 color:#0468B1 !important;
}

.page__account-settings h6 {
      font-size: 18px !important;
}

.page__account-settings h2 {

	font-size: 20px !important;
    font-weight: 700;
    text-decoration: underline;
    color: #06263D !important;
}

.page__account-settings .jump-nav li a {
    text-decoration: none !important;
    color: #06263D !important;
    font-size: 18px;
    font-weight: 400;
}

.text-danger {
	font-size: 18px !important;
}

.account-section {
    font-family: 'Noto Kufi Arabic'!important;
}


.profile-page .edit-section-header {
     font-family: 'Noto Kufi Arabic'!important;
     font-size: 20px !important;
}

.profile-page .container-fluid {
  max-width: 1440px;
}

.container-fluid.null {
  max-width: 1440px;
}

// Learning MFE header

header.learning-header {
    border: none;
    overflow: visible;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header.learning-header .container-xl {
    padding-top: 8px !important;
}

#root header .logo {
  top: 0 !important;
  margin-right: 0 !important;
}

.custom-nav {
  margin-left: auto !important;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Noto Kufi Arabic';
  font-size: 18px;
  font-weight: 700 !important;
  font-style: normal;
}

nav.ml-auto.custom-nav a.nav-link {
    margin: 0px 80px 0px 0px !important;
}

.sequence-navigation .btn.complete {
    background-color: #eef7e5;
    color: #627631 !important;
}

.text-success {
    color: #627631 !important;
}

.pgn__card-header-actions .btn-brand:hover {
    border: 3px solid var(--Tomato, #D73E2D);
    background: var(--White, #FFF);
    color: var(--Tomato, #D73E2D);
}

h1 {
color: var(--Acinet-Green, #627631);
leading-trim: both;
text-edge: cap;
font-family: "Lateef";
font-size: 84px;
font-style: normal;
font-weight: 400;
line-height: 100px;
}

h2 {
color: var(--UNDP-Blue, #0468B1);
font-family: "Lateef";
font-size: 58px;
font-style: normal;
font-weight: 400;
line-height: 100%;
}

h3 {
color: var(--Blue-Dark, #06263D);
font-family: "Lateef";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h4 {
color: var(--Blue-Dark, #06263D);
font-family: "Noto Kufi Arabic";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

p {
color: var(--Blue-Dark, #06263D);
font-family: "Noto Kufi Arabic";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

small {
color: var(--Blue-Dark, #06263D);
font-family: "Noto Kufi Arabic";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#courseware-sequenceNavigation .next-btn:disabled,
#courseware-sequenceNavigation .previous-btn:disabled,
.next-button:disabled,
.previous-button:disabled {
    border: 3px solid #6C7881 !important;
    background: var(--Light-grey---from-UNDP-website, #F7F7F7) !important;
    color: #6C7881 !important;
}

.text-gray-700 {
    font-family: "Noto Kufi Arabic" !important;
    font-size: 16px;
    font-weight: 700;
    display: none !important;
}

// Hide the help text in learning header

.text-gray-700.mr-3 {
    display: none !important;
}

.discussion-module {
    font-family: "Noto Kufi Arabic" !important;
}


.btn-brand:not(:disabled):not(.disabled).active, .btn-brand:not(:disabled):not(.disabled):active, .pgn__tab_more.nav-link.active .dropdown .btn-brand.dropdown-toggle:not(:disabled):not(.disabled), .show>.btn-brand.dropdown-toggle {
    background-color: #D73E2D !important;
    border-color: #D73E2D !important;
    color: #fff;
}

.hd-3 {

font-family: 'Noto Kufi Arabic' !important;
font-size: 18px !important;
    
}

.discussion-module .btn {
    background-color: #fff;
    color: #06263D !important;
    font-family: 'Noto Kufi Arabic'!important;
    border: 1px solid #06263D !important;
}

.discussion-module .btn:hover,
.discussion-module .btn:active {

border-color: #06263D !important;
    background-color: #06263D !important;
    color: #fff !important;
}

.btn-link {
 font-family: 'Noto Kufi Arabic'!important;
}

// Learning Header

.burger-menu {
    display: none; /* Hidden on larger screens */
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    color: #fff; /* Adjust color based on your theme */
    background: none;
    border: none;
}

.dropdown-nav {
    display: none; /* Initially hidden */
    position: absolute;
    width: 100%; /* Full width to match the container */
    background-color: white; /* Background of the dropdown */
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Shadow for depth (optional) */
    z-index: 1000; /* Ensure dropdown is above other content */
}

.dropdown-nav a {
    display: block;
    padding: 10px;
    color: black; /* Text color */
    text-decoration: none; /* Removes underline */
    border-bottom: 1px solid #ccc; /* Separates items visually */
}

.dropdown-nav a:last-child {
    border-bottom: none; /* No border for the last item to keep clean look */
}

.dropdown-nav.show {
    display: block;
    max-width: 20%;
}

@media (min-width: 768px) {
    .burger-menu {
        display: none; /* Hide burger menu on large screens */
    }

    .horizontal-nav {
        display: flex; /* Display horizontal nav on large screens */
        align-items: center; /* Align items vertically */
        justify-content: flex-start;
        width: 100%;
    }

    .horizontal-nav a {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 80px;
        text-decoration: none; /* No underline */
        color: #06263d;
        font-family: "Noto Kufi Arabic" !important;
        font-size: 18px;
        font-style: normal;
        line-height: 5px;
        font-weight: 700;
    }
}

@media (max-width: 767px) {
    .burger-menu {
        display: block; /* Show burger menu on smaller screens */
    }

    .horizontal-nav {
        display: none; /* Hide horizontal nav on smaller screens */
    }
}

// Registration Page

.pgn__hyperlink.muted-link.standalone-link {
    margin-right: 2.5px;
    margin-left: 2.5px;
}

.pgn__hyperlink__external-icon {
    margin-inline-start: 0 !important;
}

#registration-form select option[value=""] {
    display: none;
}

// MFE Footer

.social-media img {
    width: 40px !important;
    height: 40px !important;
    margin-left:unset !important;
}

.social-media {
  display: flex;
  gap: 24px;
}

footer.footer .container-fluid {
    align-items: center;
    margin-left: 44px;
    margin-right: 44px;
}

.footer .container-fluid {
  max-width: 1440px; 
  margin: 0 auto !important;
}


.footer-link:hover {
    text-decoration: underline;
}

.footer-links {
  display: flex;
  gap: 24px;
}

.footer-links a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Noto Kufi Arabic'!important;
}

.footer {
    border-top: 1px solid #06263D !important;
    padding-top: 45px !important;
    padding-bottom: 45px !important;
    padding-right: 80px !important;
    padding-left: 80px !important;
    background-color: #0468B1 !important;
}

.px-4 {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 768px) {
    .footer-links {
        display: grid;
	margin-right: 8px;
    }

.footer-links a {
  font-size: 14px
	}
   footer.footer .container-fluid {
	flex-direction: column;
	align-items: initial;
    	margin-left: unset;
    	margin-right: unset;
	}
.social-media {
	padding-top: 30px;
	}
}

@media (min-width: 769px) {
footer.footer .container-fluid {
        align-items: center;
        align-content: center;
        margin-left: 44px;
        margin-right: 44px;
    }
}


// Auth MFE

.pgn__form-control-decorator-group {
	opacity: 1 !important;
}

// Course Outline

.collapsible-card-lg .collapsible-body, .collapsible-card-lg .collapsible-trigger {
    padding: 8px 0px;
}
 
.collapsible-trigger {
    margin-top: -10px;
}
 
 
.collapsible-body {
    /* padding: 0px !important; */
    padding-bottom: 0px !important;
}
 
li.ml-4 {
    padding-bottom: 8px;
    border-bottom: 1px solid #e7efd5;
    padding-top: 4px;
}
 
 
.pt-2, .py-2 {
    padding-top: 0px !important;
    padding-bottom: none !important;
}
.mt-2, .my-2 {
    margin-top: 0px !important;
}
 
 
.border-top {
    border-top: 0px solid #ccc !important;
}

// Discussions MFE

.nav-pills .nav-link.active, .nav-pills .pgn__tab_more.nav-link.active .dropdown .dropdown-toggle, .nav-pills .show>.nav-link, .pgn__tab_more.nav-link.active .dropdown .nav-pills .dropdown-toggle {
    background-color: #0a3055;
    color: #fff !important;
}

.nav-pills .nav-link, .nav-pills .pgn__tab_more.nav-link.active .dropdown .dropdown-toggle, .pgn__tab_more.nav-link.active .dropdown .nav-pills .dropdown-toggle {
    color: #0A3055 !important;
}









