// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
.site-header-desktop , .learning-header, .site-header-mobile {
    background: #06263D !important;
  }

@media (max-width: 768px) {
  header a.logo {
  margin-top: 60px;
 }
.site-header-mobile .nav-link {
  color: #06263D !important;
}
}

.menu-content {
    font-family: "Noto Kufi Arabic" !important;
    font-size: 16px;
}

.profile-page {
    font-family: "Noto Kufi Arabic" !important;
}

.site-header-desktop .main-nav .nav-link:hover{
    background:none !important;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.site-header-desktop .main-nav .nav-link {
    font-family: "Noto Kufi Arabic" !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
}

header a.logo {
  height: 84px !important;
}

.btn.btn-outline-primary.dropdown-toggle {
    border-color: #fff;
    color: #fff;
}

.menu-trigger {
    border-color: #fff !important;
    color: #fff !important;
}

.btn-outline-primary:hover {
    border-color: #06263d !important;
    color: #06263d !important;
}

.nav-link {
    color: #fff !important;
}

.site-header-desktop .logo img {
    padding-right: 50px !important;
}

.btn-brand {
    background-color: #ED5846;
    border-color: #ED5846;
    color: #fff;
    font-family: "Noto Kufi Arabic" !important;
    border-radius: 46px;
    height: 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.xmodule_display.xmodule_ProblemBlock div.problem .action .submit-attempt-container .submit{
    background-color: #ED5846;
    border-color: #ED5846;
    color: #fff;
    font-family: "Noto Kufi Arabic" !important;
    border-radius: 46px;
    height: 55px;
    width: 170px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    
}

.btn-brand:hover {
    background-color: #ED5846;
    border-color: #ED5846;
    color: #fff;
    font-family: "Noto Kufi Arabic" !important;
}

.text-gray-700 {
    color: #fff !important;
}

.nav-item.flex-shrink-0.nav-link {
    color: #06263D !important;
}

span.d-block.small.m-0 {
    display: none !important;
}

span.d-block.m-0.font-weight-bold.course-title {
    display: none !important;
}

// Learning MFE

#main-content {
  background: #F3F3F3;
}
#main-content:has(.course-outline-tab) {
  background-color: #fff !important;
}

.main-content {
background-color: #fff !important;
}

/*
.sequence-navigation-tabs {
    display: none !important;
}
*/
.unit-navigation .next-button, .unit-navigation .previous-button, #courseware-sequenceNavigation .previous-btn,
#courseware-sequenceNavigation .next-btn {
    border-radius: 3.371px;
    border: 2.023px solid var(--Blue-Dark, #06263D) !important;
    background: var(--Acinet-Green-Faded, #E7EFD5);
    color: var(--Blue-Dark, #06263D) !important;
    text-align: center;
    font-family: "Noto Kufi Arabic";
    font-size: 13.484px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn:disabled {
    opacity: unset !important;
}

.sequence-container .sequence.w-100 {
    border: none !important;
}

.course-tabs-navigation {
    border-bottom: none !important;
    background: #F3F3F3;
}

.nav-underline-tabs .nav-link.active {
    border-bottom-color: #FD9D24 !important;
}
.nav-item.flex-shrink-0.nav-link {
    font-family: "Noto Kufi Arabic";
    font-size: 13.484px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sequence-container.d-inline-flex.flex-row {
    background: #FFF !important;
}

.position-relative.d-flex.align-items-start {
    background: #FFF !important;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px !important;
    }
}

nav[aria-label="breadcrumb"] {
    color: var(--Blue-Dark, #06263D);
    text-align: right;
    font-family: "Noto Kufi Arabic" !important;
    font-size: 12.135px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

 .svg-inline--fa.fa-bookmark path {
    fill: #D73E2D !important;
  }

.pgn__stateful-btn {
    font-family: 'Noto Kufi Arabic' !important;
}

.sequence-container .sequence.w-100 {
    padding: 20px;
}

.position-relative.d-flex.align-items-start {
    padding: 10px;
}

.text-primary {
    font-size: 14px;
    color: #06263D !important;
}

.xmodule_display.xmodule_HtmlBlock p {
    color: #06263D !important;
    font-family: 'Noto Kufi Arabic' !important;
}

[dir=rtl] .collapsible-body {
    padding-right: 20px !important;
}

.page__account-settings {
  max-width: 1440px !important;
}

.page__account-settings h1 {
    font-family: 'Lateef' !important;
    font-size: 58px;
    font-weight: 400;
}


.page__account-settings h2,
.page__account-settings h6,
.page__account-settings p,
.page__account-settings a,
.page__account-settings li,
.page__account-settings button {
  font-family: 'Noto Kufi Arabic'!important;
}

.profile-page .container-fluid {
  max-width: 1440px;
}

.container-fluid.null {
  max-width: 1440px;
}

// Learning MFE header

.custom-nav {
  margin-left: auto !important;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Noto Kufi Arabic';
  font-size: 18px;
  font-weight: 700 !important;
  font-style: normal;
}

nav.ml-auto.custom-nav a.nav-link {
    margin: 0px 80px 0px 0px !important;
}

.sequence-navigation .btn.complete {
    background-color: #eef7e5;
    color: #627631 !important;
}

.text-success {
    color: #627631 !important;
}

.pgn__card-header-actions .btn-brand:hover {
    border: 3px solid var(--Tomato, #D73E2D);
    background: var(--White, #FFF);
    color: var(--Tomato, #D73E2D);
}

h1 {
color: var(--Acinet-Green, #627631);
leading-trim: both;
text-edge: cap;
font-family: "Lateef";
font-size: 84px;
font-style: normal;
font-weight: 400;
line-height: 100px;
text-transform: capitalize;
}

h2 {
color: var(--UNDP-Blue, #0468B1);
font-family: "Lateef";
font-size: 58px;
font-style: normal;
font-weight: 400;
line-height: 100%;
text-transform: capitalize;
}

h3 {
color: var(--Blue-Dark, #06263D);
font-family: "Lateef";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}

h4 {
color: var(--Blue-Dark, #06263D);
font-family: "Noto Kufi Arabic";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

p {
color: var(--Blue-Dark, #06263D);
font-family: "Noto Kufi Arabic";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}

small {
color: var(--Blue-Dark, #06263D);
font-family: "Noto Kufi Arabic";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}

#courseware-sequenceNavigation .previous-btn:disabled,
#courseware-sequenceNavigation .next-btn:disabled {
    border: 3px solid #6C7881 !important;
    background: var(--Light-grey---from-UNDP-website, #F7F7F7) !important;
    color: #6C7881 !important;
}





